
li{
	font-size: 25px;
	color: white;

}

a{
	font-size: 20px;
	color: white;
	text-decoration: none;
}

.letrasmenu{
	color: white;
}

.desc{
	font-size: 20px;
	color: white;
}

/* {} */